<a href="https://colab.research.google.com/github/DanielAntu/cursobasicopy/blob/main/cursopythonh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Passo a Passo de solução de desafio**

In [2]:
# Lógica de programação

# Passo 0 - Entender o desafio que você quer resolver

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os
import pandas as pd
lista_arquivos = os.listdir('/content/drive/MyDrive/Curso Básico de Python/Vendas')
display(lista_arquivos)

['Devolucoes - Curitiba.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Vendas - Recife.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - Salvador.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Recife.csv',
 'Vendas - Goiás.csv',
 'Vendas - Curitiba.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Fortaleza.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - São Paulo.csv']

In [13]:
# Passo 2 - Importar as bases de dados de vendas
tabela_total = pd.DataFrame()

for arquivo in lista_arquivos:
  if 'Vendas' in arquivo:
    tabela = pd.read_csv(f'/content/drive/MyDrive/Curso Básico de Python/Vendas/{arquivo}')
    tabela_total = tabela_total.append(tabela)
# Passo 3 - Tratar / Compilar as bases de dados
display(tabela_total)
# Passo 4 - Calcular o produto mais vendido (em quantidade)

# Passo 5 - Calcular o produto que mais faturou (em faturamento)

# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico/dashboard

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN
1,24,HL2714,Tablet,5,Carla,Zakhm,11/13/2018,Recife,1600,NaN
2,26,HL1918,iPhone,4,Bianca,Tatsch,10/10/2018,Recife,5300,NaN
3,35,HL1918,iPhone,3,Guido,Monteiro,4/18/2018,Recife,5300,NaN
4,44,HL4379,Televisão,1,Eduardo,Quindeler,7/20/2018,Recife,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
1442,9959,HL1918,iPhone,4,Rafael,Carneiro,6/19/2018,Fortaleza,5300,NaN
1443,9974,HL1148,Câmera,2,Thales,Gouvêa,2/20/2018,Fortaleza,2100,NaN
1444,9979,HL1918,iPhone,5,Brenno,Santos,10/18/2018,Fortaleza,5300,NaN
1445,9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500,NaN
1446,9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100,NaN